---
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Work from '../components/Work.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Benefits from '../components/Benefits.astro';
import { translations } from '../i18n/translations';
import CalModal from '../components/CalModal.astro';
import BackToTop from '../components/BackToTop.astro';
---

<BaseLayout
  title={translations.en.metaTitle}
  description={translations.en.metaDescription}
>
  <Header />
  <main class="site-main">
    <Hero />
    <Services />
    <Benefits />
    <Work />
    <FinalCTA />
  </main>
  <Footer />
  <CalModal />
  <BackToTop />
</BaseLayout>
